<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="twilight.bgfx" sequenceNumber="40">
<locations>

</locations>
<environment>
<os>*</os>
<ws>twl</ws>
<arch>x86_64</arch>
<nl>en</nl>
</environment>
</target>
